@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: url(./bg1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main {
    width: 100%;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    margin: 40px 400px;
}

#survey-form {
    background: rgba(117, 20, 20, 0.9);
    padding: 10px 45px;
    border-radius: 5px;
}

.description {
    font-weight: 300;
}

input, textarea {
    border: none;
    outline: none;
    border-radius: 3px;
}

textarea {
    width: 100%;
}

input[required], textarea {
    min-width: 100%;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
}

label {
    display: inline-block;
}

label.title {
    margin: 35px 0 10px;
    font-weight: bold;
    font-size: 18px;
}

input[type=checkbox] {
    display: inline-block;
}

input[type=radio] {
    display: inline-block;
}

textarea {
    font-family: 'Open Sans', sans-serif;
}

#submit {
    margin: 35px 0;
    width: 100%;
    padding: 15px 45px;
    font-size: 18px;
    font-weight: bold;
    /* color: #fff; */
    color:  rgba(240, 57, 57);
    background: #fff;
    /* background: #37af65; */
    cursor: pointer;
}